<!DOCTYPE html>
<html lang="en" ng-app="angularTodo">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="nav.css">
</head>
<body ng-controller="academiasController">


<div ng-include="'navbar.html'"></div>


<div class="container" ngCloak>
    
      <table class="table table-hover" ng-show="showAcademyList">
        <thead>
            <tr>
              <th>Nombre</th>
              <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="academia in academias">
            <td>{{ academia.nombre }}</td>
            <td><button type="button" ng-click="cargarInformeAcademia(academia._id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Generar Informe de la Academia</button></td>
          </tr>
        </tbody>
      </table>



      <div class="row">
            <div class="col-sm-6">
                  <h4>Numero de cinturones por colores</h4>
            </div>
            <div class="col-sm-6">
                  <h4>Numero de clases por tipo<h4>
            </div>
      </div> 


      <div class="row">
            <div class="col-sm-2">            
                  <p>blancos : <span class="badge">{{cintosBlancos}}</span></p>
                  <p>azules : <span class="badge"> {{cintosAzules}}</span></p>
                  <p>morados : <span class="badge">{{cintosMorados}}</span></p>
                  <p>marrones : <span class="badge">{{cintosMarrones}}</span></p>
                  <p>negros : <span class="badge">{{cintosNegros}}</span></p>
                  
            </div>
            <div class="col-sm-4">
                  <canvas  class="chart chart-bar" chart-data="dataCinturones" chart-labels="labelsCinturones" 
                                 ></canvas>
            </div>
            <div class="col-sm-2">
                  <p>Brazilian Jiu Jitsu : <span class="badge">{{numclasesBJJ}}</span></p>
                  <p>Grappling : <span class="badge"> {{numclasesGRA}}</span></p>
                  <p>MMA : <span class="badge">{{numclasesMMA}}</span></p>
                  <p>Muay Thai : <span class="badge">{{numclasesMTH}}</span></p>
                  <p>Boxeo : <span class="badge">{{numclasesBOX}}</span></p>
                  <p>Wrestling : <span class="badge">{{numclasesWRE}}</span></p>
            </div>

            <div class="col-sm-4">
                   <canvas id="pie" class="chart chart-pie"
                      chart-data="dataClases" chart-labels="labelsClases" chart-options="optionClases">
                  </canvas>
            </div>
      </div>

</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="angular-momentjs/angular-momentjs.js"></script>
    <script src="controller.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js'></script>
    <script src='http://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js'></script>
</body>
</html>