<!DOCTYPE html>
<html lang="en" ng-app="angularTodo">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="nav.css">



</head>
<body ng-controller="alumnosController">


<div ng-include="'navbar.html'"></div>


<div class="container">
    
<!-- Trigger the modal with a button -->
<div class="form-group">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Alta de nuevo alumno</button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        
        <div class="modal-body">
          
                  <form name="userForm" ng-submit="submitForm()" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

                  
                  <div class="panel panel-primary">
                  <div class="panel-heading">Gestion de los datos del alumno</div>
                  <div class="panel-body">
                      
                    <input type="hidden" name="_id" placeholder = "Nombre del alumno" class="form-control" ng-model="formData._id">
                    
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="nombre" placeholder = "Nombre del alumno" class="form-control" ng-model="formData.nombre">
                    </div>

                    <!-- USERNAME -->
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" name="apellidos" placeholder = "Apellidos del alumno" ng-model="formData.apellidos" class="form-control">
                    </div>

                    <div class="form-group">  
                      <label>Cinturon</label>
                      <select ng-model="formData.cinturon" class="form-control" placeholder = "Graduacion">
                        <option value="blanco">Blanco</option>
                        <option value="azul">Azul</option>
                        <option value="morado">Morado</option>
                        <option value="marron">Marron</option>
                        <option value="negro">Negro</option>
                      </select>
                    </div>

                    <div class="form-group">
                        <label>Academia</label>
                        <select ng-model="formData.id_academia" ng-options="item.nombre for item in academias " class="form-control">
                          
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Descripcion</label>
                        <input type="text" name="descripcion" placeholder = "Informacion de interes acerca del alumno" ng-model="formData.descripcion" class="form-control" >
                    </div>
                    <div class="form-group">
                          <label>Fecha de graduacion de cinturon blanco</label>
                          <input type="date"  name="graduaciones.blanco.desde" ng-model="formData.graduaciones.blanco.desde" class="form-control" >
                      </div>
                      <div class="form-group">
                          <label>Fecha de graduacion de cinturon azul</label>
                          <input type="date" name="azul" ng-model="formData.graduaciones.azul.desde" class="form-control" >
                      </div>
                    <div class="form-group">
                        <label>Fecha de graduacion de cinturon morado</label>
                        <input type="date" name="morado" ng-model="formData.graduaciones.morado.desde" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label>Fecha de graduacion de cinturon marron</label>
                        <input type="date" name="marron" ng-model="formData.graduaciones.marron.desde" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label>Fecha de graduacion de cinturon negro</label>
                        <input type="date" name="negro" ng-model="formData.graduaciones.negro.desde" class="form-control" >
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary">Crear</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>

                  </div>
                </div>

              </form>



        </div>
        
      </div>
      
    </div>
  </div>
   
      
    
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-black">Listado de cinturones negros</div>
        <div class="panel-body">

      <table class="table table-hover">
        <thead>
            <tr>
              <th>Nombre del alumno</th>
              
              <th>Academia</th>
              <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="alumno in alumnos | filter : cinturon = 'negro' ">
            <td>{{ alumno.nombre }} {{ alumno.apellidos }}</td>
            
            <td>{{ alumno.academia.nombre}}</td>
            <td>
                <div class="form-group">
                  <button type="button" ng-click="cargarAlumno(alumno._id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Actualizar alumno</button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>

  </div>
  </div>



      <div class="panel panel-default">
        <div class="panel-heading panel-heading-brown">Listado de cinturones marrones</div>
        <div class="panel-body">

      <table class="table table-hover">
        <thead>
            <tr>
              <th>Nombre del alumno</th>
              
              <th>Academia</th>
              <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="alumno in alumnos | filter : cinturon = 'marron' ">
            <td>{{ alumno.nombre }} {{ alumno.apellidos }}</td>
            
            <td>{{ alumno.academia.nombre}}</td>
            <td>
                <div class="form-group">
                  <button type="button" ng-click="cargarAlumno(alumno._id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Actualizar alumno</button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>

      </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading panel-heading-purple">Listado de cinturones morados</div>
        <div class="panel-body">


      <table class="table table-hover">
        <thead>
            <tr>
              <th>Nombre del alumno</th>
              
              <th>Academia</th>
              <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="alumno in alumnos | filter : cinturon = 'morado' ">
            <td>{{ alumno.nombre }} {{ alumno.apellidos }}</td>
            
            <td>{{ alumno.academia.nombre}}</td>
            <td>
                <div class="form-group">
                  <button type="button" ng-click="cargarAlumno(alumno._id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Actualizar alumno</button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>

      </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading panel-heading-blue">Listado de cinturones azules</div>
        <div class="panel-body">


      <table class="table table-hover">
        <thead>
            <tr>
              <th>Nombre del alumno</th>
              
              <th>Academia</th>
              <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="alumno in alumnos | filter : cinturon = 'azul' ">
            <td>{{ alumno.nombre }} {{ alumno.apellidos }}</td>
            
            <td>{{ alumno.academia.nombre}}</td>
            <td>
                <div class="form-group">
                  <button type="button" ng-click="cargarAlumno(alumno._id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Actualizar alumno</button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>

      </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading panel-heading-gray">Listado de cinturones blancos</div>
        <div class="panel-body">


      <table class="table table-hover">
        <thead>
            <tr>
              <th>Nombre del alumno</th>
              
              <th>Academia</th>
              <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="alumno in alumnos | filter : cinturon = 'blanco' ">
            <td>{{ alumno.nombre }} {{ alumno.apellidos }}</td>
            
            <td>{{ alumno.academia.nombre}}</td>
            <td>
                <div class="form-group">
                  <button type="button" ng-click="cargarAlumno(alumno._id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Actualizar alumno</button>
                </div>
            </td>
          </tr>
        </tbody>
      </table>

      </div>
      </div>

</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="angular-momentjs/angular-momentjs.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="controller.js"></script>
</body>
</html>