 <!-- Modal -->
  <div class="modal fade" id="myModalFicha" role="dialog">
    <div class="modal-dialog modal-lg">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
                          
              <div class="panel panel-primary">
              <div class="panel-heading">FICHA DEL ALUMNO <button type="button" class="btn btn-default" data-dismiss="modal">X</button></div>
              <div class="panel-body">
                  
                <input type="hidden" name="_id" placeholder = "Nombre del alumno" class="form-control" ng-model="formData._id">
                
                <p class="bg-info"> <strong>DATOS BASICOS DEL ALUMNO</strong></p>
                <p class="font-weight-bold"><strong>Nombre: </strong>{{formData.nombre}} {{formData.apellidos}}</p>
                <p class="font-weight-bold"><strong>Cinturon actual: </strong> {{formData.cinturon}}</p>
                <p class="font-weight-bold"><strong>Comentarios: </strong> {{formData.descripcion}} </p>
                
                
                <p class="bg-info"><strong>GRADUACION Y MESES EN CADA CINTURON </strong></p>
                


                <div class="row">
                  <div class="col-sm-6">
                      <p type="text"><strong>Graduacion de cinturon blanco:</strong> {{formData.graduaciones.blanco.desde | date }}</p>
                      <p type="text"><strong>Graduacion de cinturon azul:</strong> {{formData.graduaciones.azul.desde | date }}</p>
                      <p type="text"><strong>Graduacion de cinturon morado:</strong> {{formData.graduaciones.morado.desde | date }}</p>
                      <p type="text"><strong>Graduacion de cinturon marron:</strong> {{formData.graduaciones.marron.desde | date }}</p>
                      <p type="text"><strong>Graduacion de cinturon negro:</strong> {{formData.graduaciones.negro.desde | date }}</p>
                  </div>
                  <div class="col-sm-6">
                      <canvas class="chart chart-horizontal-bar" chart-data="data" chart-labels="labels" 
                                   ></canvas>
                  </div>
                </div>


                 



                <div class="row">
                  <div class="col-sm-12">
                                      
                          
                          <p class="bg-info"><strong>ASISTENCIA A CLASES POR MESES Y AÑO</strong></p>
                          <p>
                            <select name="show-filter" ng-model="selectedYear" ng-change="changeYear(selectedYear)"> 
                                  <option ng-repeat="a in anyos" ng-value="a.id">{{a.value}} </option>
                            </select>
                          </p>
                  </div>
                  

                  <div class="row">
                      <div class="col-sm-6">
                               <p><strong>Año seleccionado: {{selectedYear}}</strong></p>

                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                    <th>Fecha</th>
                                    <th>Clase</th>
                                    <th>Profesor</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                  </tr>
                              </thead>
                              <tbody>  
                                <tr ng-repeat="ent in entrenamientos | orderBy:'-fecha' | filter:selectedYear:false:ent.entrenamiento.fecha" >                          
                                    <td>{{ ent.fecha }}</td>
                                    <td>{{ ent.nombre }}</td>
                                    <td>{{ ent.profesor }}</td>
                                    <td>{{ ent.inicio }}</td>
                                    <td>{{ ent.fin }}</td>                          
                                </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="col-sm-6">
                      

                              <canvas class="chart chart-bar" chart-data="datapormes" chart-labels="labelsmes" 
                         ></canvas> 
                

                  </div>
                  </div>



              </div>

             

                <div class="form-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>