<!DOCTYPE html>
<html lang="en" ng-app="angularTodo">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  

  <link rel='stylesheet' href='calendar/fullcalendar.css' />

  <script src='jquery/jquery.min.js'></script>
  <script src='moment/moment.min.js'></script>
  <script src='calendar/fullcalendar.js'></script>
  <script src='calendar/locale/es.js'></script>
  

<script>
  $(document).ready(function() {

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        weekends: false,
        defaultView: 'agendaDay',
        allDaySlot: false,
        editable: true,
        minTime: '11:00:00',
        maxTime: '22:00:00',
        
        
        eventClick:  function(event, jsEvent, view) {
            $('#modalTitle').html(event.title);
            $('#fullCalModal').modal();
            //$('#eventId').text($('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id);
            
           
           
            
            //TODO: Mejorar para que todo esto se haga en el Angular Controller
            $.ajax({
                  url: "api/entrenamientos/"+$('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id
              }).then(function(data) {
                    if(data!=null){
                        
                        var scope = angular.element($('#fullCalModal')).scope();
                        scope.loadEntrenamiento($('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id);

                    }else{
                      //No existe la sesion creada todavia ... la creamos                     
                      $.post("api/entrenamientos", {_id: $('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id , profesor: "Alberto" , nombre: event.title }, function(result){

                            var scope = angular.element($('#fullCalModal')).scope();
                            scope.loadEntrenamiento($('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id);
                      });  
                      
                    } 
              });

            


        } , 

        lang: 'es',


        events: [
        {
          id: 5,
          title: 'BJJ 17:00',
          start: '17:00:00',
          description: 'Clase de BJJ', 
          end:   '18:00:00' ,
          editable: false ,
          dow: [2,4,5],
          aa: new Date()
        },
        {
          id: 1,
          title: 'BJJ 11:00',
          start: '11:00:00',
          description: 'Clase de BJJ', 
          end:   '12:30:00' ,
          editable: false ,
          dow: [1,2,3,4,5]
        },
        {
          id: 2 ,
          title: 'BJJ Iniciados (18:30)',
          description: 'Clase de BJJ', 
          start: '18:30:00',
          end:   '19:30:00',
          editable: false, 
          dow: [1,2,3,4,5]
        } ,
        {
          id: 3 ,
          title: 'BJJ (19:00)',
          description: 'Clase de BJJ', 
          start: '19:30:00',
          end:   '21:00:00',
          editable: false, 
          dow: [1,2,3,4,5]
        } ,
        {
          id: 4 ,
          title: 'BJJ (21:00)',
          description: 'Clase de BJJ', 
          start: '21:00:00',
          end:   '22:00:00',
          editable: false, 
          dow: [1,2,3,4,5]
        }
      ],

      businessHours: [ // specify an array instead
      {
          dow: [ 1, 2, 3 ,4, 5], // Monday, Tuesday, Wednesday
          start: '11:00', 
          end: '14:00' 
      },
      {
          dow: [ 1, 2, 3 ,4, 5], // Thursday, Friday
          start: '17:00', 
          end: '22:00' 
      }
      ]

    })

});


</script>



</head>
<body ng-controller="mainController">
<div ng-include="'navbar.html'"></div>

<div id="fullCalModal" ng-controller="entrenamientoController" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
                <!--h4 id="eventId" class="modal-title"></h4-->
            </div>
            <div id="modal-desc" class="modal-body">
                Profesor: {{ angentrenamiento.profesor }}
                Clase: {{ angentrenamiento.nombre }}
            </div>
            <div id="modalBody" class="modal-body">
                  
                  <table class="table table-hover">
                      <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Cinturon</th>
                            <th>Asistencia</th>
                          </tr>
                      </thead>
                      <tbody>
                          
                            <tr ng-repeat="alumno in angentrenamiento.alumnos">          
                              <td>{{ alumno.alum.nombre }} {{ alumno.alum.apellidos }}</td>
                              <td>{{ alumno.alum.cinturon }}  </td>

                              <td>
                                  <input type="checkbox" ng-model="alumno.asiste"  ng-click="marcarAlumno(alumno.alum._id, angentrenamiento._id)" >

                              </td>
                            </tr>
                        
                      </tbody>
                    </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="container">
    
      <table class="table table-hover">
        <thead>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Historia</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="academia in academias">
            <td>{{ academia.nombre }}</td>
            <td>{{ academia.direccion }}</td>
            <td>{{ academia.historia }}</td>
          </tr>
        </tbody>
      </table>


    <div id='calendar'></div>
    <div id="dialog" title="My dialog" style="display:none">

</div>

    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="controller.js"></script>
</body>
</html>