<!DOCTYPE html>
<html lang="en" ng-app="angularTodo">
<head>
  <title>Control de asistencia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="nav.css">

  <link rel='stylesheet' href='calendar/fullcalendar.css' />

  <script src='jquery/jquery.min.js'></script>
  <script src='moment/moment.min.js'></script>
  <script src='calendar/fullcalendar.js'></script>
  <script src='calendar/locale/es.js'></script>
  

<script>
  $(document).ready(function() {

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        weekends: false,
        defaultView: 'agendaDay',
        allDaySlot: false,
        editable: true,
        minTime: '11:00:00',
        maxTime: '22:00:00',
        
        
        eventClick:  function(event, jsEvent, view) {
            $('#modalTitle').html(event.title);
            $('#fullCalModal').modal();
            //$('#eventId').text($('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id);
            
            //TODO: Mejorar para que todo esto se haga en el Angular Controller
            $.ajax({
                  url: "api/entrenamientos/"+$('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id,
                  

                  headers: {
                    'Authorization' :'JWT ' + sessionStorage.getItem('token')
                  }
              }).then(function(data) {
                    if(data!=null){
                        
                        var scope = angular.element($('#fullCalModal')).scope();
                        scope.loadEntrenamiento($('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id);

                    }else{
                      
                      $.ajax({
                            url: 'api/entrenamientos',
                            type: 'post',
                            data: {
                                _id: $('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id , 
                                profesor: sessionStorage.getItem('nombre') , 
                                nombre: event.title,

                            },
                            headers: {
                                'Authorization' :'JWT ' + sessionStorage.getItem('token')
                            },
                            dataType: 'json',
                            success: function(result){

                            var scope = angular.element($('#fullCalModal')).scope();
                            scope.loadEntrenamiento($('#calendar').fullCalendar('getDate').format('YYYYMMDD')+event.id);
                      }});
                   
                    } 
              });

        } , 

        lang: 'es',


        //events: 'event_feed.json',

      businessHours: [ // specify an array instead
      {
          dow: [ 1, 2, 3 ,4, 5], // Monday, Tuesday, Wednesday
          start: '11:00', 
          end: '14:00' 
      },
      {
          dow: [ 1, 2, 3 ,4, 5], // Thursday, Friday
          start: '17:00', 
          end: '22:00' 
      }
      ]

    })

});


</script>

</head>
<body ng-controller="mainController">

<!-- Se incluye la barra de navegacion -->
<div ng-include="'navbar.html'"></div>

<!-- Se incluye la capa oculta que levnta la venta modal para gestionar los entrenamientos -->
<div ng-include="'entrenamiento.html'"></div>

<!-- Listado de academias -->
<div class="container">
    
      <table class="table table-hover">
        <thead>
            <tr>
              <th>Nombre</th>
              <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="academia in academias">
            <td>{{ academia.nombre }}</td>
            <td>

              <div class="form-group">
                  <button type="submit" class="btn btn-primary" ng-click="loadSesionesAcademia(academia._id)">Seleccionar</button>
                </div>

          </tr>
        </tbody>
      </table>


    <div id='calendar' ></div>
    <div id="dialog" title="My dialog" style="display:none">

</div>
  
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="angular-momentjs.js"></script>
    <script src="controller.js"></script>

</body>
</html>