.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.navbar-footer 
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.icon-size
{
    font-size: 87px;
}

.panel-default > .panel-heading-brown {
background: brown; color: #fff; }

.panel-default > .panel-heading-blue {
background: blue; color: #fff; }

.panel-default > .panel-heading-black {
background: black; color: #fff; }

.panel-default > .panel-heading-purple {
background: purple; color: #fff; }

.panel-default > .panel-heading-gray {
background: gray; color: #fff; }